@{
  Layout = "_Layout";
}

<h1>Order Details: </h1>

<h3>@Model["order"].Title</h3>
<p>@Model["order"].Description</p>
<p>@Model["order"].Price</p>
<p>@Model["order"].Date</p>
<h5>Vendor: @Model["vendor"].Name</h5>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order to this vendor</a></p>
<p><a href='/vendors'>View all vendors</a></p>