@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add New Stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)
  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)
  <input type="submit" value="Submit New Stylist" />
}
<p>@Html.ActionLink("Show All Stylists", "Index")</p>