@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@ViewBag.thisStylist.FirstName</h3>

<hr>

@if (ViewBag.clients.Count == 0)
{
  <h3>NO CLIENTS</h3>
}
else
{
  <p>This Stylist's Clients are:</p>

  @foreach(Client client in ViewBag.clients)
  {
    <li>@client.LastName, @client.FirstName</li>
  }
}


<hr>
<p>@Html.ActionLink("Edit This Stylist Record", "Edit", new { id = ViewBag.thisStylist.StylistId }) | @Html.ActionLink("Delete This Stylist Record", "Delete", new { id = ViewBag.thisStylist.StylistId }) | @Html.ActionLink("Back To All Stylists", "Index")</p>